# Python libraries
numpy==1.16.4
statsmodels==0.10.1
scipy==1.3.1
pandas==0.25.0
matplotlib==3.1.1
dataclasses==0.7
scikit_learn==0.21.3
PyYAML==5.4
TA-Lib==0.4.17
timedelta==2019.4.13
arch==4.8.1
rpy2==2.9.5

# R libraries
# rugarch==1.4.1