:root {
  --jumbotron-padding-y: 3rem;
}

/* BOOTSTRAP ADDITIONS */

.center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075) !important;
}

.bg-med-grey {
    background-color: #ccc;
}

.bg-blue {
    background-color: #0069d9;
}

.bg-dark-blue {
    background-color: #252835;
}

.bg-light-blue {
    background-color: #eef7ff;
}

.text-white-50 {
    color: rgba(255, 255, 255, .5);
}

.text-light-grey {
    color: #97a0a9;
}

.text-dark {
    color: #333333;
}

.med-small {
    font-size: 90%;
    font-weight: 400;
}

.medium {
    font-size: 110%;
    font-weight: 600;
}

.mb-075 {
    margin-bottom: 0.75rem;
}

/* SITE-WIDE HELPERS */

.row-centred {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.row-centred h1,
.row-centred h2,
.row-centred h3,
.row-centred h4,
.row-centred h5,
.row-centred h6 {
    width: 100%;
}

.row-padding-bottom {
    padding-bottom: 2.5rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.sticky {
    position: sticky;
    top: 10px;
}

.tall {
    height: 200vh;
}

.bg-qs-dark-grey {
    background-color: #1f2420;
    color: rgba(255, 255, 255, 0.8);
}

.border-top-blue {
    border-top: 3px solid #4e9def;
}

.no-border {
    border: 0;
}

/* HEADER */

.border-nav-bottom {
    border-bottom: 1px solid #666 !important;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 0;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 400;
  color: #fff;
}

/* HOME PAGE */

.jumbotron.home-page-jumbotron {
    background-color: #1d2731;
    background-image: url("../images/home-banner-bg.jpg");
}

.jumbotron.home-page-jumbotron .container {
  max-width: 40rem;
}

/* FOOTER */

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* BOOK PAGE */

.jumbotron.books-jumbotron {
    padding-top: 10rem;
    padding-bottom: 10rem;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.7);
    text-align: center;
}

.row.books-header-row {
    text-align: center;
}

.row.books-header-row p {
    width: 100%;
    font-size: 1.8em;
}

.col-md-4.book-card {
    text-align: center;
}

.col-md-4.book-card h3 {
    margin-top: 0;
    font-size: 1.1em;
}

.col-md-4.book-card h3 a {
    color: #000;
    text-decoration: none;
}

.col-md-4.book-card h3 a:hover {
    color: #007bff;
    text-decoration: none;
    -webkit-transition: all linear 0.1s;
    transition: all linear 0.1s;
}

/* BOOK SALES PAGE */

.jumbotron.sales-jumbotron {
    padding-top: 4rem;
    padding-bottom: 3rem;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.7);
    text-align: center;
}

.sales-page h1.header-title {
    color: #3E70A3;
    width: 100%;
    text-align: center;
    font-size: 2.25rem;
}

.sales-page.titles-blue h1.header-title, 
.sales-page.titles-blue h1.section-title, {
    color: #3E70A3;
}

.sales-page.titles-green h1.header-title,
.sales-page.titles-green h1.section-title {
    color: #227b4b;
}

.sales-page.titles-orange h1.header-title,
.sales-page.titles-orange h1.section-title {
    color: #E64413;
}

.sales-page h1.section-title {
    color: #3E70A3;
    width: 100%;
    text-align: center;
    font-size: 1.75rem;
}

.sales-page h2 {
    margin-top: 2.25rem;
    margin-bottom: 1.0rem;
}

.sales-page h2.subheader-title,
.qclp-section h2.subheader-title {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2.1rem;
    font-weight: 300;
    color: #666;
}

.sales-page h3 {
    margin-top: 1.75rem;
    margin-bottom: 0.75rem;
}

.sales-page .sales-details h3 {
    font-size: 1.25rem;
    font-weight: 300;
    width: 100%;
    text-align: center;
    margin-bottom: 1.2rem;
}

.sales-page .sales-package h3 {
    font-size: 1.25rem;
    font-weight: 300;
    width: 100%;
    text-align: center;
    margin-bottom: 1.2rem;
}

.sales-page .sales-details p {
    width: 100%;
    text-align: center;
}

.sales-page .sales-questions h3 {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 1.2rem;
}

.sales-page h4 {
    margin-top: 1.75rem;
    margin-bottom: 0.75rem;
}

.sales-page p {
    line-height: 1.7;
}

.sales-page ul li:not(:last-child),
.sales-page ol li:not(:last-child) {
    line-height: 1.7;
    margin-bottom: 0.5rem;
}

.sales-page img#author-photo {
    border-radius: 100%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    max-width: 207px;
    width: 100%;
}

.sales-page .author-section h2 {
    color: #666;
    font-size: 1.75rem;
}

.sales-page .sales-package .card-body ul {
    min-height: 8rem;
}

/* SALES RETURN PAGE */

.sales-return-page img.sales-return-book-image {
    max-width: 100%;
}

.sales-return-section-upper,
.sales-return-section-lower {
    border-radius: 10px;
}

/* ARTICLE PAGE */

.jumbotron.article-jumbotron {
    padding-top: 5rem;
    padding-bottom: 5rem;
    box-shadow:inset 0 0 0 2000px rgba(0,0,0,0.7);
}

.article-info-container .article-date {
    font-size: 0.9em;
}

ul.article-summary-container {
    margin: 0;
    padding: 0;
    border-top: 2px dotted #ddd;
    border-bottom: 2px dotted #ddd;
    list-style: none;
}

ul.article-summary-container li::before {
    content: "➞";
    font-weight: bolder;
    float: left;
    display: inline-block;
    color: #343a40;
    padding-left: 4px;
    padding-right: 12px;
}

ul.article-summary-container li:not(:last-child) {
    margin-bottom: 0.75rem;
}

.article h2 {
    margin-top: 2.25rem;
    margin-bottom: 1.0rem;
}

.article h3 {
    margin-top: 1.75rem;
    margin-bottom: 0.75rem;
}

.article h4 {
    margin-top: 1.75rem;
    margin-bottom: 0.75rem;
}

.article p {
    line-height: 1.7;
}

.article ul li:not(:last-child),
.article ol li:not(:last-child) {
    line-height: 1.7;
    margin-bottom: 0.5rem;
}

.article pre[class*="language-"] {
    margin-top: 1.0rem;
    margin-bottom: 1.05rem;
}

/* READING LIST */

.reading-list-book-pane {
    display: none;
}

.reading-list-book-container {

}

.reading-list-book {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 245px;
    margin: 0 10px 50px 10px;
}

.reading-list-book .book-image {
    height: 185px;
    text-align: center;
}
                  
.reading-list-book .book-image img {
    max-height: 185px;
}

.reading-list-book .book-title {
    margin-top: 10px;
    text-align: center;
}

/* QUANTCADEMY LANDING PAGE */

.qclp-page-container.sub-banner {
    font-size: 1.4rem;
    line-height: 2.1rem;
}

.qclp-join-now-button-container {
    width: 100%;
    background-image: url(../images/qc-join-now-button-bg.png);
    border-top: 1px solid #34384a;
    border-bottom: 1px solid #34384a;
    padding: 3.0em 0 3.0em 0;
    text-align: center;
}

.qclp-details h3 {
    font-size: 1.25rem;
    font-weight: 300;
    width: 100%;
    text-align: center;
    margin-bottom: 1.2rem;
}

.qclp-payment h3 {
    border-bottom: 1px solid #dce1d7;
    font-weight: bold;
}

.qclp-payment h3.no-border {
    border: 0;
}

.qcp-account-details-form {
    border-bottom: 1px solid #dce1d7;
}

.qcp-ccd-input-block label {
    color: #83897d;
    display: inline-block;
    margin: 0 0 0.5em;
    width: 100%;
    font-size: 1.2em;
    font-weight: bold;
}

/* QUANTCADEMY ARTICLE */

.qc-article h2 {
    color: #272727;
    margin-bottom: 1.0rem;
    margin-top: 1.5rem;
    font-size: 1.6rem;
}

.qc-article h2.lesson-title {
    margin-bottom: 0.25rem;
}

.qc-article h6.lesson-title {
    margin-bottom: 1.0rem;
    color: #666;
    font-size: 0.9rem;
}

.qc-article pre[class*="language"] {
    margin: 1.5rem 0 1.5rem;
}

.qc-article ul li,
.qc-article ol li {
    margin-bottom: 1.0rem;
}

.row.course-navigation {
    border-top: 1px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.row.course-navigation .col-6 {
    padding-left: 0;
    padding-right: 0;
}
